################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GithubDeploy/FileContentIndex/0bf64c2a-95e4-41ee-a02f-83948332cda4.vsidx
/.vs/slnx.sqlite
